@import url(http://fonts.googleapis.com/css?family=Varela+Round);

#container {
	position:absolute;
	left: 0px;	
	right: 0px;
	top: 0px;
	bottom: 0px;
	min-width:1500px;
}

#topbanner {
	position: absolute;
	width: 100%;
	top: 0px;
	background-color: #FEFCFF;   /*FEFCFF*/
	padding: 0px;
	z-index: 5;
}
#banner2 {
	position: relative;
	width: 100%;
	top: 60px;
	height:50px;
	background-color: #4CAF50;
	padding: 0px;
	z-index: 1;
}
	
/*--------------------------------------------------------------------------------*/
/*-------------------Class and ID Rules-------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* Currently just using One content so I could have used an ID but might duplicate later */
.content {
 	position: relative; 
	margin: 65px 250px 10px 195px; /*Top Right Bottom Left - relative to last positional thing*/
/*	border: 2px double; */
	background-color: white;
	padding: 10px;
	min-width:800;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	
.content1 {
	position: relative; 
	margin: 0px 250px 10px 195px; /*Top Right Bottom Left - relative to last positional thing*/
/*	border: 2px double; */
	background-color: white;
	padding: 10px;
	min-width:800;
	z-index: 2;
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
	}
	
	

#leftnav {
	position: absolute; 
	width: 170px;
	top: 115px;
	left: 0px;
	font-size: 10pt;
/*	border: 1px double black; */
	background-color: white;
	padding: 10px;
	z-index: 3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);		
	}

#rightsponsors {
	position: absolute; 
	width: 300px;
	top: 115px;
	right: 0px;
/*	border: 1px double black; */
	background-color: #eee;
	padding: 0px;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);		
	}
	
/* TABLE INFORMATION */

	table.tableizer-table {
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #489E4C; 
		color: #FFF;
		font-weight: bold;
	}
	
/* SMALLER TABLE INFORMATION */
	table.tableizer-table1 {
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table1 td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table1 th {
		background-color: #489E4C; 
		color: #FFF;
		font-weight: bold;
	}
	
	
	
	
/* Bulletless in Unordered Items */
	  .bulletless {
                list-style-type: none;
				font-family:"Varela Round",arial,helvetica,sans-serif;
				color: #274;
            }	
	  .bulletless1 {
                list-style-type: none;
				font-family:"Varela Round",arial,helvetica,sans-serif;
				color: #5b7b9b;
            }	
/* Image Container to put pics side by side */
.imgContainer{
    float:left;
	border: 1px solid #4CAF50;
	margin-top: 0px;
    margin-right: 150px;
    margin-bottom: 0px;
    margin-left: 0px;
}	

/* html rules
----------------------------------------------------------*/

body {
	background-color: #FEFCFF;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-family:"Varela Round",arial,helvetica,sans-serif;
	}

h1 {
	font-family: "Varela Round",arial,helvetica,sans-serif;
	margin: 0 0 15px 0;
	padding: 0;
    color: white;
    text-shadow: 1px 1px 2px #4CAF50, 0 0 25px #4CAF50, 0 0 5px #4CAF50;
}	
	
	
h2 {
	font-family: "Varela Round",arial,helvetica,sans-serif;
	margin: 0 0 5px 0;
	padding: 0;
	color: #274;
	font-size: 1.1em;
	}
h3 {
	font-family: "Varela Round",arial,helvetica,sans-serif;
	margin: 0 0 5px 0;
	padding: 0;
    color: white;
    text-shadow: 6px 6px 12px #459648, 0 0 25px #459648, 0 0 5px #459648;
	}

h4 {
	font-family: "Varela Round",arial,helvetica,sans-serif;
	margin: 0 0 5px 0;
	padding: 0;
    color: white;
    text-shadow: 6px 6px 12px #47629b, 0 0 25px #47629b, 0 0 5px #47629b;
	}

p {
	font-family:"Varela Round",arial,helvetica,sans-serif;
	line-height: 1.2em;
	margin: 0 0 16px 0;
	padding: 0;
	}
	
a {
	color: teal;
	font-family: "Varela Round",arial,helvetica,sans-serif;
/*	font-weight: bold; */
	text-decoration: none;
	}
	
a:link {
	color: blue;
	}
	
a:visited {
	color: teal;
	}

a:hover {
	background-color: #bbb;
	}


	
	
